<ul class="posts">
  {{#each posts}}
    <li class="{{#if metadata.draft}}draft{{/if}}">
      <a href="{{../rootUrl}}/secret/edit/{{id}}">
        {{metadata.title}}
        {{#if metadata.draft}}
        [DRAFT]
        {{/if}}
      </a>
      <a href="{{../rootUrl}}/secret/delete/{{id}}" class="helper">🗑</a>
    </li>
  {{/each}}
</ul>
