<form method="post" action="/secret/update" class="editor">
  <input type="hidden" name="id" value="{{{post.id}}}" />

  <p>
    <label for="title">Title</label>
    <input name="title" type="text" placeholder="Title of post" required value="{{{post.metadata.title}}}"/>
  </p>

  <p>
    <label for="title">Date</label>
    <input name="date" type="date" value="{{{post.metadata.date}}}" />
  </p>

  <p>
<textarea name="content">{{{post.content}}}</textarea>
  </p>

  <p>
    <label for="draft">
      Draft <input type="checkbox" name="draft" value="true" {{#if post.metadata.draft}}checked{{/if}} />
    </label>
  </p>

  <p>
    <input type="submit" value="Update" />
    <a href="/read/{{post.id}}" target="preview">Preview</a>
  </p>
</form>