<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{rootUrl}}/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{rootUrl}}/feed" />
  </head>
  <body>
    <div id="main">
      <header>
        <a href="{{rootUrl}}/">{{title}}</a>
      </header>

      {{{body}}}

    </div>
  </body>
</html>
