<h2><a href="{{rootUrl}}/read/{{post.id}}">{{post.metadata.title}}</a></h2>

{{{post.rendered}}}

<h4>Most recent posts</h4>
<ul>
  {{#each mostRecentPosts}}
    <li><a href="{{rootUrl}}/read/{{id}}">{{metadata.title}}</a></li>
  {{/each}}
    <li><a href="{{rootUrl}}/archive">Archive</a></li>
</ul>
